<h4>{{merchant.name}}</h4>
<h6>{{merchant.email}}</h6>
<h6>{{merchant.status}}</h6>
<h6>{{merchant.description}}</h6>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPaymentModal">+ Add payment</button>
<table class="table table-stripped">
	<thead>
		<th>Id</th>
		<th>Amount</th>
		<th>Status</th>
	</thead>
	<tbody>
		<tr *ngFor="let transaction of merchant.transactions">
      <td>{{transaction.id}}</td>
			<td>{{transaction.amount}}</td>
			<td>{{transaction.status}}</td>
		</tr>
	</tbody>
</table>


<!-- The Edit Modal -->
<div class="modal" id="addPaymentModal">
  <div class="modal-dialog">
    <div class="modal-content">   
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Merchant</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="paymentForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" name="name" formControlName="amount">
              </div>
            </div>
          </div>
        </form>
      </div>      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addPayment()" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

